<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars</title>
</head>
<body>
    {{>menu}} <!-- Inclui o arquivo menu.handlebars -->
    {{{body}}} <!-- Renderiza o conteúdo da página -->
</body>
</html>